@import '@/styles/global/_breakpoints';

// --drop-down-max-width - max-width of drop-down by default is 335px
// --drop-down-min-width - min-width of drop-down by default is 30%
// --drop-down-max-height - max-height of drop-down by default is 60px
// --header-border-bottom - 1px solid #D9DADB;

.dropdown-button {
  &.gift-discount-trigger {
    padding: var(--drop-down-trigger-padding, var(--indent__m) var(--indent__base));
    background: var(--gift-discount__background, var(--dropdown-background-color));
    margin-top: var(--drop-down-trigger-margin-top, var(--indent__base));
    max-width: none;
    justify-content: normal;
    position: relative;
    min-height: 60px;
    order: var(--gift-discount-trigger-order, 4);

    .gift-discount-icon-container {
      display: flex;
      justify-content: center;
    }

    .gift-discount-title {
      color: var(--text__color);
      flex-grow: 1;
      font-size: var(--drop-down-trigger-title-font-size, var(--font__base));
      font-family: var(--font-family-copy);
      font-weight: 500;
      margin: 0;
      padding: var(--drop-down-trigger-title-padding, 0 var(--indent__base) 0 var(--indent__s));
    }

    svg {
      position: var(--drop-down-trigger-svg-position, absolute);
      top: var(--drop-down-trigger-svg-top, var(--indent__base));
      right: var(--drop-down-trigger-svg-right, var(--indent__base));
    }
  }
}

div.dropdown.gift-dropdown {
  background: var(--gift-discount__background, var(--dropdown-background-color));
  padding: var(--drop-down-padding, var(--indent__base));
  max-width: none;
  border-top: 0;
  margin: 0 auto;
  min-height: 90px;
  order: var(--gift-dropdown-order, 5);

  .field {
    display: flex;
    flex-wrap: wrap;

    .text-input {
      flex: 1;

      input {
        border-color: var(--primary__color);
      }
    }

    button {
      max-height: var(--drop-down-max-height, 55px);
      margin-left: var(--drop-button-down-left-margin, 0);
      text-transform: var(--drop-button-down-text-transform, uppercase);
      border-radius: var(--inputs-border-radius, 0 var(--input-border-radius) var(--input-border-radius) 0);
      padding: var(--drop-button-padding, 12px);
      width: initial;

      p {
        margin: 0 !important;
      }
    }

    .error,
    .success {
      width: 100%;
    }
  }
}



//Styles for StoryBook
#root {
  .dropdown-button {
    &.gift-discount-trigger {
      max-width: var(--drop-down-max-width, 335px);

      svg {
        top: auto;
      }
    }
  }

  div.dropdown.gift-dropdown {
    max-width: var(--drop-down-max-width, 335px);

    button {
      max-height: var(--drop-down-max-height, 60px);
    }
  }
}

//Styles for desktop

@mixin largeWidth() {
  .dropdown-button {
    border: none !important; //override dropdown global styles

    &.gift-discount-trigger {
      padding: var(--gift-discount-paddings, 15px 20px);

      .gift-discount-title {
        font-size: var(--font__m);
        font-family: var(--font-family-copy);
      }

      img {
        width: var(--lock-icon-width, 50px);
        height: var(--lock-icon-height, 30px);
      }

      svg {
        display: var(--gift-discount-icon-desktop-display, none);
      }
    }
  }

  div.dropdown.gift-dropdown {
    padding: var(--gift-discount-paddings, 0 20px 20px);
    display: block;

    .field {
      &:first-child {
        padding-top: var(--gift-dropdown-first-child-padding-top, var(--indent__base));
        border-top: var(--giftcard-header-border-bottom, 1px solid #D9DADB);
      }
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
