// --border-color, #7A8086;
// --odd-child-background, #fbfbfb;
// --results-box-shadow, 0px 12px 15px 2px #E6E6E6;

.loqate {
  &__container {
    margin: var(--indent__s) 0;
  }

  &__title {
    margin-bottom: 15px;
    display: var(--loqate-section-title__display, unset);
  }

  &__field {
    position: relative;

    svg {
      position: absolute;
      top: var(--loqate-top, 15px);
      right: 20px;
      width: var(--loqate-svg-width, 23px);
    }
  }

  &__results {
    padding: 0;
    box-shadow: var(--results-box-shadow ,0px 12px 15px 2px #E6E6E6);
    max-height: var(--postcode-lookup__max-height);
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 10;

    li {
      list-style: none;
      padding: 15px 0;
      margin: 0;

      &:nth-child(odd) {
        background: var(--odd-child-background, #fbfbfb);
      }

      &:nth-child(even) {
        background: var(--even-child-background, #fff);
      }
    }

    button {
      color: var(--button__link-font-color);
      font-size: var(--font__s);
      background: transparent;
      text-align: left;
      border: none;
      cursor: pointer;
      padding: 1px 6px;
      line-height: 25px;

      &:hover {
        color: var(--button__link-font-color-hover);
        font-weight: var(--button__link-font-weight-hover);
      }
    }
  }
}

.address-block {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__edit {
    display: flex;
    cursor: pointer;
    align-items: center;

    button {
      margin-left: var(--indent__s);
      box-shadow: none;
      padding: 0;
    }
  }

  &__title {
    &.selected {
      font-size: var(--font__s);
    }
  }

  &.saved-address-active {
    border-radius: var(--base__border-radius-large);
    padding: 15px var(--indent__base);
    font-size: var(--font__s);
    margin-bottom: var(--indent__base);
    font-weight: var(--font-weight__semibold);
    background: var(--address-list-selected-background, var(--color__primary-grey5));
    border: var(--selected-border, var(--base__border-weight-active) var(--base__border-style) var(--base__border-color-active));
    box-shadow: var(--selected-address-box-shadow, none);

    .address-block__edit {
      top: var(--indent__m);
    }
  }
}
