@import '@/styles/global/_breakpoints';

.column {
    padding: var(--indent__base);
}

@mixin largeWidth() {
    .container {
        display: flex;
    }

    .column {
        flex: 1;
    }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
