.agreement-container {
  margin-top: var(--indent__base);
}

.agreement-label {
  font-size: var(--font__xs);
}

.agreement-close {
  font-size: var(--font__l);
  font-weight: var(--font-weight__regular);
  background: transparent;
  border: none;
  text-align: right;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border: none;
  }
}
