// --border-color, #7A8086;
// --odd-child-background, #fbfbfb;
// --results-box-shadow, 0px 12px 15px 2px #E6E6E6;

.loqate {
  &__container {
    margin: var(--indent__s) 0;
  }

  &__title {
    margin-bottom: 15px;
    display: var(--loqate-section-title__display, unset);
  }

  &__field {
    position: relative;

    svg {
      position: absolute;
      top: var(--loqate-top, 15px);
      right: 20px;
      width: var(--loqate-svg-width, 23px);
    }
  }

  &__results {
    padding: 0;
    box-shadow: var(--results-box-shadow ,0px 12px 15px 2px #E6E6E6);
    max-height: var(--postcode-lookup-max-height);
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 10;

    li {
      list-style: none;
      padding: 15px 0;
      margin: 0;

      &:nth-child(odd) {
        background: var(--odd-child-background, #fbfbfb);
      }

      &:nth-child(even) {
        background: var(--even-child-background, #fff);
      }
    }

    button {
      color: var(--text__color);
      font-size: var(--font__base);
      background: transparent;
      text-align: left;
      border: none;
      cursor: pointer;
      padding: 1px 6px;
      line-height: 25px;

      &:hover {
        color: var(--text__color);
      }
    }
  }
}

.address-block {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__edit {
    display: flex;
    cursor: pointer;
    align-items: center;

    button {
      margin-left: var(--indent__s);
      box-shadow: none;
      padding: 0;
    }
  }
}
