.agreement-container {
  align-items: center;
  display: flex;
}

.agreement-label {
  font-size: var(--font__xs);
}

.agreement-close {
  font-size: var(--font__l);
  font-weight: var(--font-weight__regular);
}
