@import '@/styles/global/_breakpoints';

.braintree-vault {
  display: grid;
  gap: var(--indent__base);
  margin-bottom: var(--indent__base);

  [name="braintree-hosted-field-cvv"],
  [name="braintree-hosted-field=expirationDate"],
  [name="braintree-hosted-field-number"] {
    background: var(--adyen-checkout-input__background-color, var(--white__color));
    border-radius: 4px;
    border: var(--input-border, 1px solid var(--input-border-color)) !important;
    height: var(--input-height) !important;
    outline: none;
    padding: var(--indent__s);
    transition: none;
  }

  .braintree-hosted-fields-focused {
    [name="braintree-hosted-field-cvv"],
    [name="braintree-hosted-field=expirationDate"],
    [name="braintree-hosted-field-number"] {
      border: var(--input-border-focus, 2.5px solid var(--input-border-color-focus)) !important;
      box-shadow: none;
    }
  }
}

.braintree-vaulted-methods-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  grid-gap: var(--indent__s);
  grid-template-columns: unset;
  overflow-x: auto;

  &-1 {
    grid-auto-columns: 100%;
  }

  .adyen-checkout__payment-method {
    border: none;
  }

  .adyen-checkout__payment-method__header__title {
    background: var(--adyen-saved-card-background-color);
    border: var(--adyen-saved-card-border-active);
    border-radius: var(--base-border-radius);
    box-shadow: none;
    color: var(--adyen-saved-card-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0;
    padding: var(--indent__base);

    &.adyen-checkout__payment-method-disabled {
      border: var(--adyen-saved-card-border);
    }
  }

  .adyen-checkout__payment-method__card-number,
  .adyen-checkout__payment-method__name {
    font-size: var(--font__s);
    grid-column: 1;
    line-height: 1.5em;
    text-align: left;
  }

  .adyen-checkout__payment-method__expiry-label,
  .adyen-checkout__payment-method__expiry {
    font-size: var(--font__s);
    grid-column: 2;
    line-height: 1.5em;
    text-align: right;
  }

  .adyen-checkout__payment-method__expiry-label {
    grid-row: 2;
  }

  .adyen-checkout__payment-method__image__wrapper {
    grid-column: 1;
    grid-row: 1;
    height: var(--indent__xl);
    margin: 0 0 var(--indent__base);
    padding: var(--indent__xs);
    width: 50%;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .adyen-checkout__card__exp-date__input--oneclick {
    background-color: transparent;
    border: none;
    color: var(--white__color);
    grid-column: 2;
    height: auto;
    line-height: 1em;
    padding: 0;
    text-align: right;

    &:active {
      box-shadow: none
    }
  }

  .adyen-checkout__payment-method__radio {
    display: none;
  }
}

@media screen and (min-width: $screen__l) {
  .braintree-vaulted-methods-container {
    grid-auto-columns: 40%;

    &-1,
    &-2 {
      grid-auto-columns: calc(50% - var(--indent__xs));
    }
  }
}
