// --button__display - display of a button default inline-block
// --button-cursor - cursor displayed default pointer
// --button__font-weight - font weight for bold default 600
// --button__line-height - line height for button default 1
// --button__border - border for a button default 0
// --button__border-radius - border-radius for a button default 3em
// --button-background-color - background-color for a button default #000
// --button-primary__font-color - button primary text color #ffffff
// --button-secondary__font-color - button secondary text color #000000
// --button-primary-color - Primary colour for the project default #000000
// --button-secondary-color - Color for transparent default transparent
// --button-text-decoration - text-decoration for a button default none
// --button__box-shadow - Box shadow for a button default rgba(0, 0, 0, 0.15) 0 0 0 1px inset
// --button__font-small - small font size default 12px
// --button__font-medium - medium font size default 14px
// --button__padding-small  - small button padding default 12px
// --button__padding-medium  - medium button padding default 16px
// --button-padding-default - standard button padding default 20px
// --button__padding-large - standard button padding default 24px

.button {
  font-family: var(--button__font-family);
  font-weight: var(--button__font-weight);
  border-width: var(--button__border-weight);
  border-style: var(--button__border-style);
  border-radius: var(--button__border-radius);
  display: var(--button__display);
  line-height: var(--button__line-height);
  min-height: var(--button__height);
  width: var(--button__width);
  text-transform: var(--button__text-transform);
  cursor: pointer;

  &:disabled {
    opacity: var(--opacity__light);
    pointer-events: none;
  }

  &--primary {
    color: var(--button-primary__font-color);
    background-color: var(--button-primary__background-color);
    border-color: var(--button-primary__border-color);
    border-width: var(--button-primary__border-weight);
    box-shadow: var(--button-primary__border-box-shadow);
    margin-top: var(--button-primary-margin-top, var(--indent__s));

    &:hover {
      color: var(--button-primary__font-color-hover);
      background-color: var(--button-primary__background-color-hover);
      border-color: var(--button-primary__border-color-hover);
      border-width: var(--button-primary__border-weight-hover);
    }

    &:focus {
      color: var(--button-primary__font-color-focus);
      background-color: var(--button-primary__background-color-focus);
      border-color: var(--button-primary__border-color-focus);
      border-width: var(--button-primary__border-weight-focus);
    }

    &:disabled {
      background-color: var(--button-primary__background-color-disabled, var(--button-primary__background-color));
      border-color: var(--button-primary__border-color-disabled, var(--button-primary__background-color-disabled));
      color: var(--button-primary-color-disabled, var(--button-primary__font-color));
      border-width: var(--button-primary__border-weight);
    }
  }

  &--secondary {
    color: var(--button-secondary__font-color);
    background-color: var(--button-secondary__background-color);
    border-color: var(--button-secondary__border-color);
    border-width: var(--button-secondary__border-weight);
    box-shadow: var(--button-secondary__border-box-shadow);

    &:hover {
      color: var(--button-secondary__font-color-hover);
      background-color: var(--button-secondary__background-color-hover);
      border-color: var(--button-secondary__border-color-hover);
      border-width: var(--button-secondary__border-weight-hover);
    }

    &:focus {
      color: var(--button-secondary__font-color-focus);
      background-color: var(--button-secondary__background-color-focus);
      border-color: var(--button-secondary__border-color-focus);
      border-width: var(--button-secondary__border-weight-focus);
    }

    &:disabled {
      background-color: var(--button-secondary__background-color-disabled, var(--button-secondary__background-color));
      border-width: var(--button-secondary__border-weight);
    }
  }

  &--tertiary {
    color: var(--button-tertiary-text-color);
    background-color: var(--button-tertiary-background-color);
    border-color: var(--button-tertiary-border-color);
    box-shadow: var(--button-tertiary-border-box-shadow);

    &:hover {
      color: var(--button-tertiary-text-color-hover);
      background-color: var(--button-tertiary-background-color-hover);
      border-color: var(--button-tertiary-border-color-hover);
    }

    &:focus {
      background-color: var(--button-tertiary-background-color-focus);
    }

    &:disabled {
      background-color: var(--button-tertiary-background-color-disabled, var(--button-tertiary-background-color));
    }
  }

  &--tab {
    color: var(--button__tab-font-color);
    background-color: var(--button__tab-background-color);
    border-color: var(--button__tab-border-color);
    border-width: var(--button__tab-border-weight);
    box-shadow: var(--button__tab-border-box-shadow);

    &:hover {
      color: var(--button__tab-font-color-hover);
      background-color: var(--button__tab-background-color-hover);
      border-color: var(--button__tab-border-color-hover);
      border-width: var(--button__tab-border-weight-hover);
    }

    &:focus {
      color: var(--button__tab-font-color-focus);
      background-color: var(--button__tab-background-color-focus);
      border-color: var(--button__tab-border-color-focus);
      border-width: var(--button__tab-border-weight-focus);
    }

    &:disabled {
      background-color: var(--button__tab-background-color-disabled, var(--button__tab-background-color));
      border-width: var(--button__tab-border-weight);
    }

    &__unselected {
      // Unselected will be white with text and border to match the selected tab
      color: var(--button__tab__unselected-color);
      background-color: var(--button__tab__unselected-background-color);
      border-color: var(--button__tab__unselected-border-color);

      &:hover {
        color: var(--button__tab__unselected-color-hover);
        background-color: var(--button__tab__unselected-background-color-hover);
        border-color: var(--button__tab__unselected-border-color-hover);
      }

      &:focus {
        color: var(--button__tab__unselected-color-focus);
        background-color: var(--button__tab__unselected-background-color-focus);
        border-color: var(--button__tab__unselected-border-color-focus);
      }
    }
  }

  &--small {
    font-size: var(--button__font-small);
    padding: var(--button__padding-small);
  }

  &--medium {
    font-size: var(--button__font-medium);
    padding: var(--button__padding-medium);
  }

  &--large {
    font-size: var(--button__font-large);
    padding: var(--button__padding-large);
  }

  &--blank {
    background: transparent;
    border: none;
    font-weight: var(--font-weight__regular);
    font-family: var(--font-family__copy);
    font-size: initial;
    color: var(--text__color);
  }

  &--full {
    width: 100%;
  }

  &--link {
    background: var(--button__link-background-color);
    border: var(--button__link-border);
    text-decoration: var(--button__link-text-decoration);
    padding: var(--button__link-padding);

    &:hover {
      color: var(--button__link-font-color-hover);
      background: var(--button__link-background-color);
      border: var(--button__link-border);
    }
  }

  &--checkout {
    background: var(--button-adyen-pay__background-color);
    border-radius: var(--button-adyen-pay__border-radius);
    box-shadow: var(--button-primary__border-box-shadow);
    font-size: var(--button__font-medium);
    line-height: var(--button__line-height);
    min-height: var(--button__height);
    text-transform: var(--button__text-transform);
    font-family: var(--button__font-family);

    &.adyen-checkout__button--pay {
      margin-top: 20px;
    }

    &:hover {
      background: var(--button-adyen-pay__background-color-hover);
      border-color: var(--button-adyen-pay__border-color-hover);
      box-shadow: none;
    }

    &__text {
      font-family: var(--button__font-family);
      font-size: var(--adyen-text-button-font-size, var(--button__font-medium));
      font-weight: var(--adyen-text-button-font-weight, var(--button__font-weight));
    }

    &.adyen-checkout__button--loading {
      background: var(--button-adyen-pay__background-color);
    }
  }
}
