@import "@/styles/global/_breakpoints.scss";

// --drop-down-cursor - cursor displayed default pointer
// --drop-down-max-width - max-width of drop-down by default is 335px
// --drop-down-border-radius - border-radius of drop-down by default is 4px

.dropdown {
  &.active {
    border: var(--drop-down-border, 1px solid var(--dropdown-border-color));
    max-width: var(--drop-down-max-width, 335px);
    border-radius: var(--drop-down-border-radius, 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius));
    cursor: pointer;
    width: 100%;
    word-break: break-all;
    margin: 0 auto;
  }

  &-button {
    font-weight: var(--font-weight__regular);
    border: var(--drop-down-border, 1px solid var(--dropdown-border-color));
    border-radius: var(--drop-down-border-radius, var(--dropdown-border-radius));
    max-width: var(--drop-down-max-width, 335px);
    cursor: pointer;
    display: flex;
    line-height: 1;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    &.opened {
      border-bottom-left-radius: var(--drop-down-border-radius, 0);
      border-bottom-right-radius: var(--drop-down-border-radius, 0);
    }
  }

  &-arrow__up {
    width: 19px;
  }

  .text-input {
    label {
      input {
        font-size: var(--dropdown-input-font-size, var(--input-font-size));
        max-height: var(--dropdown-input-height, 55px);
        border-radius: var(--dropdown-input-radius, var(--input-rounded-left-radius));

        ::placeholder {
          font-size: var(--dropdown-input-font-size, var(--input-font-size));
        }
      }
    }
  }
}

@media screen and (min-width: $screen__m) {
  .dropdown {
    &-button {
      cursor: default;
    }
    &.active{
      cursor: default;
      border: none;

      p {
        padding: 0;
      }
    }

  }
}

