@import '@/styles/global/_breakpoints';
@import '@/styles/core/button';

// --border-color, #7A8086;
// --padding-top;
// --padding-bottom;
// --disabled-btn-bg, #d3d6d8;

.checkout-shipping-methods {
  min-height: 150px; //min height for shipping methods container with 1 shipping method available

  &__title {
    padding-top: var(--padding-top, 30px);
    padding-bottom: var(--padding-bottom, 10px);
    margin-bottom: var(--shipping-page-title-margin, 30px);
    display: flex;
    align-items: center;

    .divider-line {
      border-bottom: var(--divider__border);
      margin-left: var(--indent__base);
      width: 45%;
      display: var(--divider-line-display, block);
    }

    .title {
      margin-left: var(--shipping-address-text-margin, var(--indent__base));

      .main-text {
        font-weight: var(--font-weight__medium, 500);
        font-family: var(--shipping-page-main-text-font-family, var(--font-family__copy));
        font-size: var(--font__heading--mobile);
        color: var(--font__color);
      }
    }

    &-icon {
      width: var(--shipping-address-icon-width, 24px);
      display: var(--shipping-address-icon-display, flex);

      img {
        width: 100%;
      }
    }
  }

  &__error {
    margin-bottom: var(--shipping-methods-error-margin-bottom, var(--indent__base));
  }

  ul {
    padding: 0;
    border-bottom: var(--shipping-methods-border-bottom, none);
    margin-bottom: var(--shipping-methods-margin-bottom, 0);

    li {
      margin-bottom: var(--indent__base);
      display: flex;
      justify-content: space-between;
      align-items: var(--shipping-methods-align-items, center);
      list-style: none;
      flex-wrap: wrap;
      font-family: var(--shipping-methods-font-family, unset);

      input {
        cursor: pointer;
      }

      label {
        align-items: flex-start;
        width: 80%;

        span {
          padding-left: var(--shipping-methods-left-padding, 30px);
        }

        & + p {
          width: 20%;
          text-align: right;
          font-size: var(--shipping-cost-font-size, var(--font__m));
          font-weight: var(--shipping-cost-font-weight, var(--font-weight__regular));
        }
      }
    }
  }

  .shipping-method {
    &__input {
      padding: 0;
    }
  }
}

.shipping-method__content {
  top: var(--shipping-methods-top-value, 0);

  p:first-child {
    font-size: var(--shipping-method-title-font-size, var(--font__m));
    font-weight: var(--shipping-method-title-font-weight, var(--font-weight__medium, 400));
  }

  p:nth-child(2) {
    font-size: var(--shipping-methods-desciption-font-size, var(--font__xs));
  }
}

a {
  text-decoration: none;
}

//Styles for desktop

@media screen and (min-width: $screen__m) {
  .checkout-shipping {
    background: var(--checkout-shipping-section-background, var(--steps__background-color--desktop));
    border-radius: var(--steps__border-radius--desktop);
    padding: var(--form-details-padding-desktop, var(--indent__base) 40px 70px);
    margin-top: var(--indent__base);
  }

  .checkout-shipping-methods {
    &__title {
      .title {
        .main-text {
          font-size: var(--shipping-page-title-desktop-size, var(--font__heading--desktop));
        }

        .sub-text {
          margin-top: var(--indent__xs);
        }
      }
    }
  }
}
