.free-payment {
  border: var(--base__border-weight) var(--base__border-style) var(--base__border-color);
  border-radius: var(--base__border-radius-large);
  margin-top: var(--indent__base);
  padding: var(--indent__base);

  &.active {
    border: var(--selected-border, var(--base__border-weight-active) var(--base__border-style) var(--base__border-color-active));
  }

  &-button {
    margin-top: var(--indent__base);
  }
}
