.agreement-container {
  margin-top: var(--indent__base);
  width: 100%;
}

.agreement-label {
  font-size: var(--font__xs);
}

.agreement-close {
  font-size: var(--font__l);
  font-weight: var(--font-weight__regular);
}
