@import '@/styles/global/_breakpoints';

// --border-color, #7A8086;
// --padding-bottom;
// --disabled-btn-bg, #d3d6d8;

.divider-line {
  border-bottom: var(--divider__border);
  margin-left: var(--indent__base);
  display: var(--divider-line-display, block);
}

.instantCheckout-block {
  p {
    font-size: var(--font__heading--mobile);
    font-weight: var(--font-weight__semibold);
    color: var(--font__color);
    font-family: var(--font-family__header);
    text-align: var(--instant-checkout__text-align);
  }
}

.instant-payment-buttons {
  display: grid;
  grid-gap: var(--indent__m);
}

.details-form {
  &-header {
    background-color: var(--instant-checkout__background-color);
    display: grid;
    gap: var(--indent__base);
    padding: var(--indent__base--mobile);
  }

  &-body {
    background: var(--page__background-color--mobile);
    padding: var(--indent__base--mobile);
  }

  &-title {
    border-top: var(--details-form-title__border-top, unset);
    padding-bottom: var(--padding-bottom, var(--indent__s));
    padding-top: var(--details-form-title__padding-top, unset);
    display: flex;
    align-items: center;
    margin-top: var(--details-form-title__margin-top, var(--indent__l));

    &.saved-address {
      p {
        margin-bottom: 0;
      }
    }

    .divider-line {
      flex-grow: 1;
    }

    img {
      display: var(--your-details-icon-display, flex);
      width: 24px;
    }

    p {
      font-weight: var(--font-weight__semibold);
      font-family: var(--your-details-font-family, var(--font-family__copy));
      font-size: var(--your-details-font-size, var(--font__heading--mobile));
      margin-left: var(--your-details-margin-left, var(--indent__m));
      white-space: nowrap;
    }
  }
}

.address-form-error-message {
  margin-top: var(--indent__base);
}

.manually-button {
  padding-top: var(--manually-padding-top, 0);
  margin-top: var(--manually-padding-top, 0);
  color: var(--manually-button-color, var(--button__link-font-color));
  width: 100%;
  text-align: left;
  font-family: var(--manually-button__font-family, unset);
  text-decoration: var(--manually-button__text-decoration, var(--button__link-text-decoration));
}

.shipping-type-toggle {
  display: grid;
  grid-auto-flow: column;
  margin-top: var(--indent__base);
  grid-template-columns: 1fr 1fr;

  .details-button,
  .click-collect-button {
    margin: 0;
    display: flex;
    align-items: center;
    padding: var(--indent__m);

    p {
      margin-left: var(--indent__s);
    }
  }

  .details-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    p {
      margin-left: 8px; //not variable to match space with click&collect icon
    }
  }

  .click-collect-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.delivery-section {
  &-title {
    border-top: var(--delivery-section-title__border-top, unset);
    padding-bottom: var(--indent__s);
    padding-top: var(--delivery-section-title__padding-top, unset);
    margin-top: var(--delivery-section-title__margin-top, var(--indent__base));
    align-items: center;
    display: flex;

    .divider-line {
      flex-grow: 1;
    }

    img {
      display: var(--delivery-section-icon-display, flex);
      width: 24px;
    }

    &-text {
      margin-left: var(--delivery-section-margin-left, var(--indent__s));

      p {
        font-size: var(--font__heading--mobile);
        font-weight: var(--font-weight__semibold);
        font-family: var(--delivery-section-font-family, var(--font-family__copy));
        white-space: nowrap;
      }
    }
  }
}

.address-block {
  position: relative;
  margin: var(--indent__base) 0;
  justify-content: space-between;
  align-items: baseline;

  &__title {
    margin-bottom: var(--indent__base);
    font-weight: var(--font-weight__semibold);
    font-size: var(--font__heading--mobile);
    display: var(--address-block__display, unset);

    &.selected {
      font-size: var(--font__s);
      margin-bottom: var(--indent__s);
      display: block;
    }
  }

  &__edit {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: absolute;
    right: var(--indent__base);
    top: 0;

    button {
      margin-left: var(--indent__s);
      box-shadow: none;
      padding: 0;
    }
  }

  &.saved-address-active {
    border-radius: var(--selectable__border-radius);
    padding: var(--indent__m) var(--indent__base);
    font-size: var(--font__s);
    margin-bottom: var(--indent__base);
    font-weight: var(--font-weight__semibold);
    background: var(--address-list-selected-background, var(--selectable__background-color-active));
    border: var(--selected-border, var(--selectable__border-weight-active) var(--base__border-style) var(--selectable__border-color-active));
    box-shadow: var(--selected-address-box-shadow, none);

    .address-block__edit {
      top: var(--indent__m);
    }
  }
}

.proceed-to-shipping {
  color: var(--button-primary__font-color);
  display: block;
  text-decoration: none;

  p {
    margin: 0;
  }
}

.click-and-collect-unavilable {
  font-family: var(--click-and-collect-unavailable-font-family, var(--font-family__header));
  font-size: var(--click-and-collect-unavailable-font-size, var(--font__l));
  margin-top: var(--indent__l);
}

//Styles for desktop

@mixin largeWidth() {
  .instantCheckout-block {
    p {
      font-size: var(--font__heading--desktop);
    }
  }

  .details-form {
    &-title {
      p {
        font-size: var(--font__heading--desktop);
      }
    }
  }

  .delivery-section {
    &-title {
      &-text {
        p {
          font-size: var(--font__heading--desktop);
        }
      }
    }
  }

  .address-block {
    margin: var(--indent__base) 0;
    &-title {
      font-size: var(--font__heading--desktop);
    }
  }

  .manually-button {
    font-size: var(--font__m);
  }

  .details-form {
    &-header {
      border-radius: var(--steps__border-radius--desktop) var(--steps__border-radius--desktop) 0 0;
    }

    &-body {
      background: var(--details-form_background__color-mobile, var(--steps__background-color--desktop));
      border-radius: 0 0 var(--steps__border-radius--desktop) var(--steps__border-radius--desktop);
    }

    .proceed-to-shipping-btn {
      margin-top: 60px;
      display: block;
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
