@import '@/styles/global/_breakpoints';

.address-block {
  position: relative;

  &__checkbox {
    margin: var(--indent__s) 0 var(--indent__base);
  }

  &__title {
    margin-bottom: var(--indent__base);
    font-weight: 500;
    font-size: var(--font__m);
  }

  &__title--address {
    margin-bottom: 0;
    font-weight: 500;
    font-size: var(--font__m_);
  }

  &__address {
    margin-bottom: var(--indent__base);
  }

  &__edit {
    position: absolute;
    right: var(--indent__base);
    top: 0;
    cursor: pointer;
  }
}

.manually-button {
  padding-top: var(--manually-padding-top, 0);
  margin-top: var(--manually-padding-top, var(--indent__base));
  color: var(--manually-button-color, var(--text__color));
  width: 100%;
  text-align: left;
}

//Styles for desktop

@media screen and (min-width: $screen__m) {
  .manually-button {
    font-size: var(--font__m);
  }
}
