#gene-better-checkout-root {
  .free-payment {
    border: var(--selectable__border-weight) var(--selectable__border-style) var(--selectable__border-color);
    border-radius: var(--selectable__border-radius);
    margin-top: var(--indent__base);
    padding: var(--indent__base);

    .free-payment-radio span {
      font-size: var(--font-size__s);
    }

    &.active {
      border: var(--selected-border, var(--selectable__border-weight-active) var(--base__border-style) var(--selectable__border-color-active));
    }

    &-button {
      margin-top: var(--indent__base);
    }
  }
}
