@import '@/styles/global/_breakpoints';

.pay-with {
  &__container {
    align-items: var(--pay-width-align-items);
    display: flex;
    flex-direction: var(--pay-with-flex-direction);
    flex-wrap: wrap;
    margin-top: var(--pay-with-container-margin-top, var(--indent__base));
    min-height: var(--pay-with-container-min-height, 170px);
  }

  &__message {
    font-size: var(--font__heading--mobile);
    font-weight: var(--font-weight__semibold);
    color: var(--text__color--heading);
    font-family: var(--font-family-header);
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: var(--pay-with-text-margin-bottom, 0);
    max-width: var(--pay-with-width, unset);
    text-align: var(--pay-with-text-align, unset);
    line-height: var(--pay-with-line-height, unset);
    min-height: var(--pay-with-message-height, 65px);
  }

  &__column {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    min-height: 55px;
    margin: var(--pay-with-column-margin, unset);
  }

  &__content {
    padding: 0 0 0 8px;
    margin: 0;
    height: 35px;
    display: flex;
    align-items: center;
  }
  &__content:last-of-type{
    padding-right: 0;
  }
}

//Styles for desktop

@mixin largeWidth() {
  .pay-with {
    &__container {
      justify-content: left;
    }

    &__column {
      padding: var(--indent__s);
    }

    &__message {
      font-size: var(--font__heading--desktop);
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
