//
//  button
//  ---------------------------------------------

#gene-better-checkout-root {
  .super-payments {
    &-container {
      background-color: var(--radio-input-wrapper__background-color);
      border: var(--radio-input-wrapper__border-weight) var(--base__border-style) var(--radio-input-wrapper__border-color);
      border-radius: var(--radio-input-wrapper__border-radius);
      display: grid;
      gap: var(--indent__base);
      margin-top: var(--indent__base);
      padding: var(--indent__base);

      .super-payment-radio span {
        font-size: var(--font-size__s);
      }

      &.active {
        background-color: var(--radio-input-wrapper__background-color-active);
        border: var(--selected-border, var(--radio-input-wrapper__border-weight-active) var(--base__border-style) var(--radio-input-wrapper__border-color-active));
      }

      .super-payment-button {
        display: flex;
        justify-content: center;
        align-items: center;

        .super-payment-button-title {
          margin-right: var(--indent__s);
        }
      }
    }

    &-title {
      display: flex;
      position: relative;
      cursor: pointer;

      img {
        position: absolute;
        right: 0;
      }
    }
  }
}
