<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bluefinch_checkout>
            <general>
                <enable>0</enable>
                <enable_debug>0</enable_debug>
                <adyen>
                    <auth_token></auth_token>
                </adyen>
                <loqate>
                    <loqate_enabled>0</loqate_enabled>
                    <loqate_api_key></loqate_api_key>
                </loqate>
            </general>
        </bluefinch_checkout>
        <recaptcha_frontend>
            <type_for>
                <customer_create_success/>
            </type_for>
        </recaptcha_frontend>
        <csp>
            <mode>
                <storefront_bluefinchcheckout_checkout_index>
                    <report_only>0</report_only>
                </storefront_bluefinchcheckout_checkout_index>
            </mode>
            <policies>
                <storefront_bluefinchcheckout_checkout_index>
                    <scripts>
                        <inline>0</inline>
                        <event_handlers>1</event_handlers>
                    </scripts>
                </storefront_bluefinchcheckout_checkout_index>
            </policies>
        </csp>
    </default>
</config>
