<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BlueFinch\Checkout\Api\GetCustomerAddressesInterface"
                type="BlueFinch\Checkout\Model\GetCustomerAddresses"/>
    <preference for="BlueFinch\Checkout\Api\GetCheckoutDataInterface"
                type="BlueFinch\Checkout\Model\GetCheckoutData"/>
    <preference for="BlueFinch\Checkout\Api\GetGuestCheckoutDataInterface"
                type="BlueFinch\Checkout\Model\GetGuestCheckoutData"/>
    <preference for="BlueFinch\Checkout\Model\CompositeDataProviderInterface"
                type="BlueFinch\Checkout\Model\CompositeDataProvider"/>
    <preference for="BlueFinch\Checkout\Model\ConfigurationInterface"
                type="BlueFinch\Checkout\Model\Configuration"/>
    <type name="BlueFinch\Checkout\Model\CompositeDataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="10" xsi:type="object">BlueFinch\Checkout\Model\AgreementsDataProvider</item>
                <item name="20" xsi:type="object">BlueFinch\Checkout\Model\ImageDataProvider</item>
                <item name="30" xsi:type="object">BlueFinch\Checkout\Model\GiftMessageDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="checkoutAddAdditionalDataCart" type="BlueFinch\Checkout\Plugin\CustomerData\Cart" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="checkoutCollectShippingRates" type="BlueFinch\Checkout\Plugin\Quote\Address" />
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="checkoutCollectTotals" type="BlueFinch\Checkout\Plugin\Quote" />
    </type>

    <type name="Magento\Translation\Model\Js\Config">
        <arguments>
            <argument name="patterns" xsi:type="array">
                <item name="vue_compiled" xsi:type="string"><![CDATA[~(?s)\$t\(\s*(['"])(?<translate>.+?)\1\s*(*SKIP)[\)|,](?s)~]]></item>
            </argument>
        </arguments>
    </type>
</config>
