@import '@/styles/global/_breakpoints';

.header-container {
  background: var(--header__background-color);
  padding: var(--indent__base) var(--indent__s);
  border-bottom: var(--header__border-bottom);

  .header-content {
    max-width: var(--header-max-width, var(--layout__max-width));
    padding: var(--header-container-mobile-paddings, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      display: flex;
      flex-shrink: 0;
      justify-content: end;
      width: var(--header-logo__width--mobile);

      &.logo-no-width {
        width: auto;
      }

      img {
        width: 100%;
      }
    }

    .header-title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      min-height: 18px;

      img {
        width: var(--lock-icon-width, 15px);
        height: var(--lock-icon-height, 18px);
      }

      p {
        font-size: var(--font__s);
        font-weight: var(--font-weight__medium);
        line-height: var(--font__s);
        color: var(--secure-header-text-color, var(--color__primary-white));
        margin: 0 0 0 var(--indent__s);
        font-family: var(--font-family__copy);
      }
    }
  }
}

//Styles for desktop

@media screen and (min-width: $screen__m) {
  .header-container {
    .header-content {
      padding: var(--header-container-paddings, 0);

      .header-logo {
        width: var(--header-logo__width--desktop);
      }
    }
  }
}
