@import '@/styles/global/_breakpoints';

.customer-form {
  .divider {
    display: flex;
    align-items: center;

    &-line {
      border-bottom: 1px solid var(--border__gray-color2);
      width: 100%;
    }

    p {
      font-weight: var(--font-weight__semibold);
      font-family: var(--font-family__copy);
      font-size: var(--font__m);
      margin: 0 var(--indent__s);
      text-align: center;
    }
  }

  .welcome-message {
    padding-top: var(--welcome-message-padding, 0);
    font-size: var(--welcome-message-font-size, 14px);
    font-weight: var(--welcome-message-font-weight, var(--font-weight__regular));
    font-family: var(--font-family__copy);
    margin-bottom: var(--welcome-message-margin-bottom, var(--indent__s));
    text-align: var(--welcome-message-text-align, center);

    &:empty {
      padding-top: 0;
    }
  }

  .actions {
    display: grid;
    grid-gap: var(--indent__m);
    margin: 0 0 var(--indent__s);
    width: 100%;
  }

  .field {
    &__password {
      position: relative;

      .button_show_password {
        background: transparent;
        border: none;
        bottom: var(--indent__l);
        height: 30px;
        padding: 0;
        position: absolute;
        right: var(--indent__xxl);
        transform: translateY(50%);
        width: auto;
      }
    }
  }

  .field__help-text {
    display: var(--password-help-text-display);
    margin-top: var(--indent__s);
  }

  .forgot-pass {
    p {
      text-align: left;
      margin: var(--indent__s) 0 var(--indent__xs);
      font-family: var(--font-family__copy);
    }
  }

  .email-address-edit-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    left: 0;
    bottom: calc(var(--input__height) / 2);
    text-align: right;
    transform: translateY(50%);
    padding-right: 15px;

    button {
      text-align: right;
      width: 100%;
      border: none;
    }

    p {
      cursor: pointer;
      font-family: var(--font-family__copy);
    }
  }
}

.edit-button {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--text__color);
  cursor: pointer;
  display: flex;
  grid-gap: var(--indent__s);
  justify-content: end;
  line-height: 20px;
  padding: 0;
}

.checkout-email {
  .logged-in-email-title {
    display: var(--logged-in-email-title-visibility, none);
    font-size: var(--font__l);
    font-weight: var(--font-weight__semibold);
    margin-top: var(--indent__l);
  }

  .welcome-message-title {
    display: var(--logged-in-email-title-visibility, none);
    font-size: var(--welcome-message-title__font-size, var(--font__l));
    font-weight: var(--welcome-message-title__font-weight, var(--font-weight__semibold));
    font-family: var(--welcome-message-title__font-family, var(--font-family__copy));
  }

  &__footer {
    a {
      color: var(--text__color);
    }
  }

  &__text {
    display: flex;

    p {
      margin-left: var(--indent__xs);

      &:first-child {
        margin-left: 0;
      }
    }

    .terms,
    .policy {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


//Styles for desktop

@media screen and (min-width: $screen__m) {
  .welcome-message-title {
    margin-top: 10px;
  }
}
