@import '@/styles/global/_breakpoints';

// --payment-title-border, 1px solid #D9DADB

.payment-page {
  padding: var(--indent__base--mobile) var(--payment-page-mobile-padding, var(--indent__base--mobile));
  font-family: var(--payment-page-font-family, unset);

  .payment-form {
    background: var(--page__background-color--mobile);
    min-height: var(--payment-form-min-height, 600px);

    .address-block {
      &__edit {
        cursor: pointer;
        position: absolute;
        bottom: var(--indent__base);
        right: var(--indent__base);
      }
    }

    .billing-address {
      padding: var(--indent__base);
      background: var(--color__primary-white);

      .details-title-section {
        display: flex;

        svg {
          margin-right: var(--indent__base);
        }
      }
    }
  }
}

//Styles for desktop

@media screen and (min-width: $screen__m) {
  .payment-page {
    padding: var(--indent__base) 0 0;

    .payment-form {
      background: var(--payment-form-background, var(--steps__background-color--desktop));
      border-radius: var(--steps__border-radius--desktop);
      padding: var(--form-details-padding-desktop, var(--indent__base) 40px 70px);
    }
  }
}
