@import '@/styles/global/_breakpoints';

.order-summary-title-amount {
  display: flex;

  p {
    font-size: var(--font__heading--mobile);
    color: var(--font__color);
    font-weight: var(--order-summary-title-amount-font-weight, var(--font-weight__semibold));
    font-family: var(--font-family__header);
    margin-bottom: 0;

    &:first-child {
      margin-right: 5px;
    }
  }
}

//Styles for desktop
@media screen and (min-width: $screen__m) {
  .order-summary-title-amount {
    p {
      font-family: var(--font-family__copy);
      font-size: var(--font__heading--desktop);
    }
  }
}
