@import '@/styles/global/_breakpoints';

.reward-points {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--indent__s);
  margin: var(--indent__base);

  &-available {
    color: var(--color__primary-blue);
  }
}

@media screen and (min-width: $screen__m) {
  .reward-points {
    margin: var(--indent__l) 0;
  }
}
