@import '@/styles/global/_breakpoints';

.text-loading {
  .pay-with__column {
    opacity: 0;
  }
}

.pay-with {
  &__container {
    align-items: var(--pay-with__align-items);
    display: flex;
    flex-direction: var(--pay-with__flex-direction);
    flex-wrap: wrap;
    margin: var(--indent__s) var(--indent__s);
    min-height: var(--pay-with-container-min-height, auto);
    justify-content: var(--pay-with-justify-content, center);
  }

  &__message {
    font-size: var(--font__heading--mobile);
    font-weight: var(--font-weight__medium);
    color: var(--font__color);
    font-family: var(--font-family__header);
    position: relative;
    display: var(--pay-with-message-display, none);
    align-items: center;
    margin-bottom: var(--pay-with-text-margin-bottom, 0);
    max-width: var(--pay-with-width, unset);
    text-align: var(--pay-with-text-align, unset);
    line-height: var(--pay-with-line-height, unset);
    min-height: var(--pay-with-message-height, 65px);
  }

  &__column {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: var(--pay-with-column-margin, unset);

    img {
        width: var(--pay-with-image-max-width, 35px);
        height: var(--pay-with-image-max-height, 24px);

      &.card {
        border: 1px solid var(--color__primary-dark-blue);
      }
    }
  }

  &__content {
    padding: 0 0 0 8px;
    margin: 0;
    height: 35px;
    display: flex;
    align-items: center;
  }
  &__content:last-of-type{
    padding-right: 0;
  }
}

//Styles for desktop

@mixin largeWidth() {
  .pay-with {
    &__container {
      margin: var(--indent__base) var(--indent__base) 0;
    }

    &__column {
      padding: var(--indent__s);
    }

    &__message {
      font-size: var(--font__heading--desktop);
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
