@import '@/styles/global/_breakpoints';

.dropdown-button {
  &.promotion-trigger {
    padding: var(--promo-products-paddings, 15px var(--indent__base));
    background: var(--white__color);
    margin: 0 0 var(--indent__base);
    display: var(--promotion-visibility, flex);
    max-width: none;
    justify-content: normal;
    position: relative;
    order: var(--promo-triggers-order, 6);

    img {
      display: var(--promo-products-icon-visibility, block);
    }

    svg {
      position: absolute;
      right: var(--indent__base);
    }

    p {
      margin-left: var(--indent__base);
    }

    &.opened {
      margin-bottom: 0;
    }

    .promo-title {
      display: var(--promo__title__visible, block);
      line-height: 1.5em;
      padding: 0 20px 0 10px;

      div {
        display: flex;
        p {
          font-size: var(--promo-roducts-title-font-size, var(--font__base));
          font-weight: var(--promo-roducts-title-font-weight, var(--font-weight__semibold));
          color: var(--text__color);
          margin: 0;
        }
      }
      &.no-shipping {
        div {
          flex-wrap: wrap;
          p {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

div.dropdown.promo-dropdown {
  background: var(--white__color);
  padding: var(--promo-products-paddings, var(--indent__base) var(--indent__s));
  border-top: 0;
  margin: 0;
  max-width: none;

  .promo-title {
    margin-bottom: 15px;
  }

  &.active {
    margin-bottom: var(--indent__base);

    p {
      padding: 0;
    }
  }
}

.product-item-carousel {
  padding-bottom: var(--indent__base);
  grid-auto-flow: column;
  display: grid;
  grid-auto-columns: 44%;
  grid-gap: var(--indent__s);
  grid-template-columns: unset;
  overflow-x: auto;
  padding: 0 0 var(--indent__base);

  &-1,
  &-2 {
      grid-auto-columns: calc(50% - calc(var(--indent__s) / 2));
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--color-theme__light-grey);
    border-radius: var(--border-radius, 6px);
  }

  &::-webkit-scrollbar {
    height: 4px;
    background-color: var(--white__color);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--color-theme__light-grey);
    background-color: var(--primary__color);
    border-radius: var(--border-radius, 6px);
  }
}

.product-item {
  border: var(--order-summary-carousel-item-border, 1px solid rgba(39, 48, 58, 0.2));
  border-radius: var(--buttons-border-radius, 4px);
  display: flex;
  flex-direction: column;
  padding: var(--indent__s);
  text-align: center;

  &-image {
    max-width: 120px;
    margin: 0 auto;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-reviews {
    margin: var(--indent__s) 0 var(--indent__l);
  }

  .product-actions {
    button {
      font-size: var(--font__s);
      padding: var(--indent__s) var(--indent__xs);
      text-transform: uppercase;
      word-break: break-word;
    }
  }

  &-info {
    flex-grow: 1;
    margin-bottom: var(--indent__s);
  }

  &-name {
    margin: var(--indent__s) 0;
    word-break: break-word;
  }
}

//Styles for desktop
@media screen and (min-width: $screen__m) {
  .product-item-carousel {
    grid-auto-columns: 35%;

    &-1,
    &-2,
    &-3 {
      grid-auto-columns: calc(33% - calc(var(--indent__s) / 4 * 3));
    }
  }

  div.dropdown.promo-dropdown {
    display: block;

    .promo-title {
      padding-top: var(--indent__base);
    }
  }

  .dropdown-button {
    &.promotion-trigger {
      margin-bottom: 0;
      border: none;

      .promo-title{
        div {
          p {
            font-size: var(--promo-roducts-title-font-size, var(--font__m));
          }
        }
      }

      img {
        width: 50px;
        height: 23px;
      }
    }
  }
}
