@import '@/styles/global/_breakpoints';

.divider {
  display: var(--divider-display);
  align-items: center;
  margin-top: var(--indent__m);

  &-line {
    border-bottom: 1px solid var(--border__gray-color2);
    flex-grow: 1;
  }

  p {
    font-weight: var(--font-weight__bold);
    font-family: var(--font-family-copy);
    font-size: var(--font__m);
    margin: 0 var(--indent__s);
    text-align: center;
  }
}


//Styles for desktop

@media screen and (min-width: $screen__m) {
  .divider {
    &-line {
      flex-grow: 1;
    }
  }
}
