@import '@/styles/global/_breakpoints';

.divider {
  display: var(--divider__display);
  align-items: center;
  margin-top: var(--indent__m);

  &-line {
    border-bottom: 1px solid var(--border__gray-color2);
    width: 25%;
  }

  p {
    font-weight: var(--font-weight__semibold);
    font-family: var(--font-family__copy);
    font-size: var(--font__m);
    margin: 0 var(--indent__s);
    text-align: center;
  }
}


//Styles for desktop

@media screen and (min-width: $screen__m) {
  .divider {
    &-line {
      width: 50%;
    }
  }
}