@import '@/styles/global/_breakpoints';

:export {
  screenXxs: $screen__xxs;
  screenXs: $screen__xs;
  screenS: $screen__s;
  screenM: $screen__m;
  screenMl: $screen__ml;
  screenL: $screen__l;
  screenXl: $screen__xl;
}
