.fixed {
  background-color: var(--color__primary-white);
  position: fixed;
  z-index: 10;
  text-align: center;
  left: 0;
  width: 100%;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);

  &--top {
    top: 0;

    .fixed-content {
      padding: 25px var(--indent__base) 15px;
    }
  }

  &--bottom {
    bottom: 0;

    .fixed-content {
      padding: 15px var(--indent__base) 25px;
    }
  }

}
