@import '@/styles/global/_breakpoints';

// --border-color, #7A8086;
// --padding-bottom;
// --disabled-btn-bg, #d3d6d8;

.instantCheckout-block {
  padding-bottom: 0;
  margin-bottom: var(--indent__base);
  min-height: var(--instantCheckout-block-min-height, 40px);

  p {
    font-size: var(--font__heading--mobile);
    font-weight: var(--font-weight__semibold);
    color: var(--text__color--heading);
    font-family: var(--font-family-header);
    text-align: var(--instant-checkout-text-align);
  }
}

.instant-payment-buttons {
  display: grid;
  grid-gap: var(--indent__s);
}

.details-form {
  background: var(--page-background__color-mobile);
  padding: var(--mobile-indent__base);

  &-header {
    margin-bottom: var(--indent__s);
  }

  &-title {
    border-bottom: var(--details-form-title__border-bottom, 1px solid var(--border-color, rgba(39, 48, 58, 0.2)));
    border-top: var(--details-form-title__border-top, unset);
    padding-bottom: var(--padding-bottom, 10px);
    padding-top: var(--details-form-title__padding-top, unset);
    display: flex;
    align-items: center;
    margin-top: var(--details-form-title__margin-top, var(--indent__xl));

    img {
      display: var(--your-details-icon-display, flex);
      width: 24px;
    }

    p {
      font-weight: var(--font-weight__semibold);
      font-family: var(--your-details-font-family, var(--font-family-copy));
      font-size: var(--your-details-font-size, var(--font__m));
      margin-left: var(--your-details-margin-left, var(--indent__base));
    }
  }
}

.address-form-error-message {
  margin-top: var(--indent__base);
}

.manually-button {
  padding-top: var(--manually-padding-top, 0);
  margin-top: var(--manually-padding-top, var(--indent__base));
  color: var(--manually-button-color, var(--text__color));
  width: 100%;
  text-align: left;
  font-family: var(--manually-button__font-family, unset);
  text-decoration: var(--manually-button__text-decoration, var(--button-link-text-decoration));
}

.shipping-type-toggle {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--indent__s);
  margin-top: var(--indent__base);
}

.delivery-section {
  &-title {
    border-bottom: var(--delivery-section-title__border-bottom, 1px solid var(--border-color, rgba(39, 48, 58, 0.2)));
    border-top: var(--delivery-section-title__border-top, unset);
    padding-bottom: var(--indent__s);
    padding-top: var(--delivery-section-title__padding-top, unset);
    margin-top: var(--delivery-section-title__margin-top, 55px);
    display: flex;

    img {
      display: var(--delivery-section-icon-display, flex);
      width: 24px;
    }

    &-text {
      margin-left: var(--delivery-section-margin-left, var(--indent__base));

      p:first-child {
        font-weight: var(--font-weight__semibold);
        font-family: var(--delivery-section-font-family, var(--font-family-copy));
        font-size: var(--delivery-section-font-size, var(--font__m));
      }
    }
  }
}

.address-list {
  margin-top: var(--indent__base);
}

.address-block {
  margin: var(--indent__base) 0;
  justify-content: space-between;
  align-items: baseline;

  &__title {
    margin-bottom: var(--indent__base);
    font-weight: 500;
    font-size: var(--font__m);
    display: var(--address-block__display, unset);
  }

  &__edit {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: absolute;
    right: var(--indent__base);
    top: 0;

    button {
      margin-left: var(--indent__s);
      box-shadow: none;
      padding: 0;
    }
  }
}

.proceed-to-shipping {
  color: var(--button-primary-text-color);
  display: block;
  text-decoration: none;

  p {
    margin: 0;
  }
}

.click-and-collect-unavilable {
  font-family: var(--click-and-collect-unavailable-font-family, var(--font-family-header));
  font-size: var(--click-and-collect-unavailable-font-size, var(--font__l));
  margin-top: var(--indent__l);
}

//Styles for desktop

@mixin largeWidth() {
  .instantCheckout-block {
    p {
      font-size: var(--font__heading--desktop);
    }
  }

  .address-block {
    margin: var(--indent__xl) 0 30px;
  }

  .manually-button {
    font-size: var(--font__m);
  }

  .details-form {
    background: var(--details-form_background__color-mobile, var(--white__color));
    padding: var(--form-details-padding-desktop, 40px);

    &-header {
      margin-bottom: 0;
    }

    .proceed-to-shipping-btn {
      margin-top: 60px;
      display: block;
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
