.agreement-container {
  align-items: center;
  display: flex;
}

.agreement-label {
  font-size: var(--font__s);
}

.agreement-close {
  font-size: var(--font__xxl);
  font-weight: var(--font-weight__light);
}
