.order-summary-desktop {
  display: grid;
  min-height: 500px;

  .order-total-container {
    background: var(--order-total-container__background-colour, var(--color__primary-white));
    padding: var(--container-padding, 40px 30px);
    font-family: var(--order-total-container__font-family, unset);
  }

  &-items {
    max-height: var(--summary-desktop-items-max-height, 455px);
    min-height: 180px;
    overflow-y: auto;
    order: var(--order-summary-desktop-order, 4);
  }
}
