.braintree-drop-in {
  .braintree-test-class {
    display: none;
  }

  .braintree-dropin {
    font-family: var(--font-family__copy);
  }

  .braintree-loading {
    margin-top: var(--indent__base);

    .braintree-upper-container:before {
      border: var(--base__border-weight) var(--base__border-style) var(--base__border-color);
      border-radius: var(--base__border-radius-large);
    }

    .braintree-sheet__container {
      display: none;
    }
  }

  .braintree-heading,
  .braintree-placeholder,
  .braintree-toggle {
    display: none;
  }

  .braintree-sheet {
    border: none;
    display: block;
    grid-row: var(--braintree-method-position);

    &__header,
    &__content {
      display: none;
    }

    &__container {
      display: grid;
    }

    &__content--button {
      min-height: 0;
      padding: 0;
      text-align: left;
    }

    [data-braintree-id="google-pay-button"] button,
    &__button--venmo {
      height: var(--button__height);
      width: 100%;
    }

    &__button--paypal,
    [data-braintree-id="google-pay-button"] {
      display: flex;
      flex-direction: column;

      .braintree-store-method {
        margin: 0 0 var(--indent__m);
        order: -1;
      }
    }

    &__error {
      display: none;
    }

    &.braintre-hidden {
      display: none;
    }
  }

  .braintree-store-method {
    margin: var(--indent__m) 0 var(--indent__s);
    width: 100%;
  }

  .braintree-upper-container:before {
    background-color: transparent;
  }

  .braintree-options {
    display: block;
    height: auto;
    visibility: visible;

    &.braintree-hidden {
      display: none;
    }
  }

  .braintree-option {
    background-color: transparent;
    border: var(--base__border-weight) var(--base__border-style) var(--base__border-color);
    border-radius: var(--base__border-radius-large);
    flex-wrap: wrap;
    line-height: 1;
    margin-top: var(--indent__base);
    padding: var(--indent__base);

    &:before {
      box-shadow: var(--radio-input__box-shadow);
      border: var(--radio-input__border);
      content: '';
      display: block;
      width: var(--radio-input__width);
      height: var(--radio-input__height);
      border-radius: 50%;
    }

    &__selected {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: var(--base__border-color-active);
      border-width: var(--base__border-weight-active);

      &:before {
        border: var(--radio-input__border-checked);
        box-shadow: var(--radio-input__box-shadow-checked);
      }

      ~.braintree-sheet__content {
        border: var(--base__border-weight-active) var(--base__border-style) var(--base__border-color);
        border-bottom-left-radius: var(--base__border-radius-large);
        border-bottom-right-radius: var(--base__border-radius-large);
        border-color: var(--base__border-color-active);
        border-top: 0;
        display: block;
        padding: 0 var(--indent__base) var(--indent__base);
      }
    }

    &__logo {
      order: 3;
    }

    &__label {
      flex-grow: 1;
      font-weight: var(--font-weight__semibold);
      margin-left: var(--indent__s);
      width: auto;
    }

    &:hover {
      .braintree-option__label {
        font-weight: var(--font-weight__semibold);
      }
    }
  }

  .braintree-delete-confirmation {
    display: none;
  }
}
