@import '@/styles/global/_breakpoints';

.footer-container {
  display: var(--footer-display);
  background: var(--footer-background);
  border-top: var(--footer-border-top);
  padding: var(--footer-container-mobile-paddings, 20px 20px);

  .footer-block {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  p {
    color: var(--text__color);
    max-width: var(--layout__max-width);
    padding: 5px var(--indent__base);
    margin: var(--footer-mobile-container-margin, 0 auto);
    font-size: var(--footer-copy-font-size, 15px);
    font-family: var(--font-family-copy);
  }
}

@media (min-width: $screen__m) {
  .footer-container {
    padding: var(--indent__base);

    p {
      margin: var(--footer-container-margin, 0 auto);
    }

    .footer-block {
      justify-content: var(--footer-block-justify-content-desktop, initial);
      padding: var(--footer-paddings, 0);
    }
  }
}
