@import '@/styles/global/_breakpoints';

.dropdown-button {
  &.promotion-trigger {
    border: var(--drop-down-border, var(--base__border-weight) var(--base__border-style) var(--dropdown__border-color-highlight));
    padding: var(--promo-products-paddings, var(--indent__m) var(--indent__xs));
    background: var(--dropdown__background-color-highlight);
    margin: var(--indent__base--desktop) 0 var(--indent__xs) 0;
    display: var(--promotion-visibility, flex);
    max-width: none;
    justify-content: normal;
    position: relative;
    order: var(--promo-triggers-order, 5);

    img {
      display: var(--promo-products-icon-visibility, block);
    }

    svg {
      position: absolute;
      right: var(--indent__base);
    }

    p {
      margin-left: var(--indent__base);
    }

    &.opened {
      margin-bottom: 0;
      border-bottom: none;
    }

    .promo-title {
      display: var(--promo__title__visible, block);
      line-height: 1.5em;

      &.crosssells {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      div {
        display: flex;
        margin: 0 var(--indent__base) 0 var(--indent__s);

        .bold {
          font-weight: var(--font-weight__bold);
        }

        p {
          font-size: var(--promo-products-title-font-size, var(--font__s));
          font-weight: var(--promo-products-title-font-weight, var(--font-weight__medium));
          color: var(--font__color);
          margin: 0;
        }
      }
      &.no-shipping {
        div {
          flex-wrap: wrap;
          p {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

div.dropdown.promo-dropdown {
  background: var(--dropdown__background-color);
  padding: var(--promo-products-paddings, var(--indent__s) var(--indent__base) var(--indent__base) var(--indent__base));
  border: var(--dropdown__border-weight) var(--base__border-style) var(--dropdown__border-color-highlight);
  margin: 0;
  max-width: none;
  order: var(--promo-dropdown-order, 6);
  display: grid;

  .promo-title {
    margin-bottom: var(--indent__base);
    font-weight: var(--font-weight__semibold);
  }

  &.active {
    border-top: 0;

    p {
      padding: 0;
    }
  }
}

.product-item-carousel {
  grid-auto-flow: column;
  display: grid;
  grid-auto-columns: 55%;
  grid-gap: var(--indent__m);
  grid-template-columns: unset;
  overflow-x: auto;
  padding: 0 0 var(--indent__base);

  &-1,
  &-2 {
      grid-auto-columns: calc(50% - calc(var(--indent__s) / 2));
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--color__primary-grey5);
    border-radius: var(--border-radius, 6px);
  }

  &::-webkit-scrollbar {
    height: 4px;
    background-color: var(--color__primary-white);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--color__primary-grey5);
    background-color: var(--color__primary-grey2);
    border-radius: var(--border-radius, 6px);
  }
}

.product-item {
  border: var(--order-summary-item-border, var(--base__border-weight) var(--base__border-style) var(--base__border-color));
  border-radius: var(--buttons-border-radius, var(--base__border-radius));
  display: flex;
  flex-direction: column;
  padding: var(--indent__s);
  text-align: center;

  &-image {
    max-width: 120px;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  &-reviews {
    margin: var(--indent__s) 0 var(--indent__l);
  }

  .product-actions {
    button {
      padding: var(--indent__s) var(--indent__xs);
      word-break: break-word;
    }
  }

  &-info {
    margin-bottom: var(--indent__s);
  }

  &-name {
    margin: var(--indent__s) 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    min-height: 44px;
    font-weight: var(--font-weight__medium);
  }

  &-price {
    font-weight: var(--font-weight__bold);
    font-size: var(--font__l);
  }
}

//Styles for desktop
@mixin largeWidth() {
  div.dropdown.promo-dropdown {
    order: var(--promo-dropdown-order, 1);

    .promo-title {
      padding-top: var(--indent__base);
    }
  }

  .dropdown-button {
    &.promotion-trigger {
      order: var(--promo-triggers-order, 0);
      margin: var(--indent__s) 0 var(--indent__xs);

      &.opened {
        margin-bottom: 0;
        border-bottom: none;
      }

      svg {
        position: relative;
      }

      .promo-title {
        div {
          margin: 0 var(--indent__s) 0 0;
        }

        &.crosssells {
          margin-left: var(--indent__m);
        }
      }

      img {
        width: 50px;
        height: 23px;
      }
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
