iframe {
  border: 0;
  width: 100%;
  max-width: 100%;
}

.rvvup-method {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition-duration: 0.5s;
  transition-property: max-height;
  transition-timing-function: ease;

  &-visible {
    max-height: 600px;
    transition-delay: 0.5s;
  }

  .payment-method-name {
    color: var(--color__primary-white);
  }
}

.rvvup-loader {
  background-color: white;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 1;
}

.rvvup-button {
  cursor: pointer;

  .payment-method-name {
    margin-left: var(--indent__s);
  }

  img {
    max-width: 180px;
  }
}