// --order-summary-item-border - 1px solid rgba(39, 48, 58, 0.2);
// --border-radius

.product-item {
  border-top: var(--order-summary-item-border, 1px solid rgba(39, 48, 58, 0.2));
  padding: var(--order-item-paddings, 25px 0);

  &:first-child {
    border-top: var(--order-items-first-border, none);
  }

  &:last-child {
    border-bottom: var(--order-summary-item-border, none);
  }

  &-container {
    display: flex;

    img {
      max-width: var(--order-image-max-width, 100px);
      border-radius: var(--order-image-border-radius, 0);
      height: auto;
    }
  }

  &-info {
    width: 100%;
    margin-left: var(--indent__l);

    > p {
      font-size: var(--product-info-name__font-size, var(--font__m));
      font-weight: var(--product-info-name__font-weight, var(--font-weight__light));
    }

    p {
      margin: var(--order-item-margin, 5px 0);
      font-family: var(--product-info-name__font-family, var(--font-family-copy));
    }
  }

  &-price {
    p {
      font-size: var(--order-item-price-size), var(--font__xl);
      font-weight: var(--order-item-price-weight, 400);
      font-family: var(--font-family-copy);
    }
  }

  &-actions {
    align-items: center;
    justify-content: space-between;
    display: var(--order-summary-item-actions-display, flex);
    margin-top: var(--order-item-price__margin-top, unset) ;
  }

  .product-options-trigger {
    display: flex;
    align-items: center;
    gap: var(--indent__s);
    margin: var(--indent__s) 0 var(--indent__xs);
    cursor: pointer;
    text-decoration: underline;

    svg {
      width: 12px;
    }
  }

  .product-option {
    margin: var(--indent__xs) 0;
  }

  .gift-message {
    margin-top: var(--indent__s);
    &__item {
      display: flex;

      p {
        font-size: var(--font__base);
        margin: 0;
        &:first-child {
          margin-right: var(--indent__xs);
          color: var(--color-theme__light-grey1);
        }
      }
    }
  }
}

.remove-item {
  text-align: var(--remove-item-text-align, center);
  cursor: pointer;

  &-action {
    display: var(--remove-button-text-display, none);
    color: var(--text__color);
    cursor: pointer;
    line-height: var(--remove-item-action-line-height, 6px);
    background: transparent;
    padding: 0;
  }

  p {
    text-decoration: var(--text-decoration, underline);
    font-family: var(--font-family-copy);
    margin: var(--remove-item-margin, 5px 0);
  }

  &-icon {
    border-radius: var(--border-radius, 100%);
    display: var(--remove-icon-display, block);
    max-width: 23px;
    max-height: 23px;
    margin: 0 auto;
    line-height: 1rem;

    svg {
      margin-top: 4px;
    }
  }

  &-copy {
    font-size: var(--remove-icon-copy-font-size, var(--button-remove-item-font-size));
    font-weight: var(--remove-icon-copy-font-weight, var(--font-weight__regular));
    color: var(--button-remove-item-font-color);

    &:hover {
      color: var(--button-remove-item-font-color-hover);
    }

    &:focus,
    &:focus-visible {
      color: var(--button-remove-item-font-color-focus);
    }
  }
}

.item-qty-container {
  border: var(--qty-border);
  border-radius: var(--qty-border-radius);
  box-shadow: var(--qty-box-shadow);
  display: inline-flex;
  margin: 0;
  overflow: hidden;

  label {
    input {
      &:disabled {
        opacity: 1;
      }
    }
  }

  button {
    background: var(--item-qty-button__background, var(--qty-input-background-color));
    border: var(--qty-button-border);
    border-radius: var(--qty-button-border-radius);
    font-family: var(--font-family-copy);
    font-size: var(--qty-button-font-size);
    height: var(--qty-button-height);
    min-height: var(--qty-button-height);
    min-width: var(--qty-button__min-width, 30px);
    max-width: var(--qty-button__max-width, 30px);
    padding: 0;
    box-shadow: none;
    font-weight: var(--qty-button__font-weight, var(--font-weight__regular));
    color: var(--item-qty-button-colour, var(--qty-input-font-color));
  }

  input {
    background-color: var(--qty-input-background-color);
    border: var(--qty-input-border);
    border-bottom: var(--qty-input-border-bottom);
    border-top: var(--qty-input-border-top);
    border-radius: var(--qty-input-border-radius);
    color: var(--qty-input-font-color);
    font-size: var(--qty-font-size);
    height: var(--qty-button-height);
    max-width: var(--qty-button-width, 40px);
    text-align: center;

    &:disabled {
      color: var(--qty-input-font-color);
    }
  }
}
