@import '@/styles/global/_breakpoints';

.braintree-payment {
  display: grid;
  gap: var(--indent__base);
  margin-bottom: var(--indent__base);

  &__title {
    display: flex;
    padding-bottom: var(--indent__s);
    margin-top: var(--indent__base); // Only for UI designer
    margin-bottom: var(--braintree-payment-title-margin, 0);
    align-items: center;

    .divider-line {
      border-bottom: var(--divider__border);
      margin-left: var(--indent__base);
      width: 100%;
      display: var(--divider-line-display, block);
    }
  }

  &__icon {
    display: var(--braintree-payment-icon__display);

    img {
      width: 24px;
    }
  }

  &__header {
    font-size: var(--payment-page-title-mobile-font, var(--font__heading--mobile));
    color: var(--font__color);
    font-weight: var(--payment-page-header-font-weight, var(--font-weight__semibold));
    font-family: var(--payment-page-header-font-family, var(--font-family__copy));
    margin-left: var(--payment-page-title-left-margin, var(--indent__s));
    white-space: nowrap;
  }
}

.braintree-vault + .braintree-payment__title {
  margin-top: var(--indent__base);
}

//Styles for desktop

@mixin largeWidth() {
  .braintree-payment {
    &__header {
      font-size: var(--font__heading--desktop);
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
