@import '@/styles/global/_breakpoints';

.reward-points {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--indent__s);
  margin: var(--indent__base);

  &-available {
    color: var(--primary__color);
  }
}

@mixin largeWidth() {
  .reward-points {
    margin: var(--indent__l) 0;
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
      @include largeWidth;
  }
}
