// hokodo styles
.hokodo-method-title {
  margin-bottom: var(--indent__m);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  top: -5px;

  &__info {
    font-size: var(--font__base);
    font-family: var(--font-family-copy);
    color: var(--adyen-font-color, #00112c);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p {
      font-weight: var(--font-weight__bold);
    }

    .hokodo-logo,
    .hokodo-more-info {
      margin: var(--indent__xs);
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    img {
      margin-right: var(--indent__xs);
      width: 43px;
    }
  }

  .more-info-button {
    color: var(--blue-color);
    font-size: var(--font__base);
    font-weight: var(--font-weight__bold);
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.hokodo-button {
  background: transparent;
  border: none;

  &.payment-method {
    align-items: baseline;
  }
}

#hokodoCompanySearch {
  margin-bottom: var(--indent__l);
}
