@import '@/styles/global/_breakpoints';

// --selected-border, 1px solid #27303A;
// --border-color, #7A8086;

.address-list {
  .delivery-section {
    .divider-line {
      border-bottom: 1px solid var(--border__gray-color2);
      width: 75%;
      margin-left: var(--indent__base);
      display: var(--divider-line-display, block);
    }

    &-title {
      padding-bottom: var(--padding-bottom, 0);
      margin-bottom: var(--indent__base);
      display: flex;
      align-items: center;

      p {
        font-weight: var(--saved-address-text-weight, var(--font-weight__regular));
        font-family: var(--font-family__header);
        font-size: var(--saved-address-text-size, var(--font__l));
        margin-left: var(--saved-address-text-margin, var(--indent__s));
        text-transform: var(--saved-address-text-transform, none);
      }

      img {
        display: var(--saved-address-icon-display, block);
        position: relative;
        top: 0;
      }
    }
  }

  &__list {
    padding: 0;
    font-family: var(--font-family-address-list, unset);
  }

  &__item {
    border: 1.5px solid rgba(39, 48, 58, 0.25);
    border-radius: var(--base__border-radius, 4px);
    padding: 15px var(--indent__base);
    font-size: var(--font__m);
    margin-bottom: var(--indent__base);
    font-weight: 325;
    cursor: pointer;
    list-style: none;

    &.active {
      background: var(--address-list-selected-background, var(--color__primary-white));
      border: var(--selected-border, 1.5px solid #27303A);
      box-shadow: var(--selected-address-box-shadow, 0px 0px 10px rgba(0, 0, 0, 0.51));

      svg {
        fill: var(--selected-address-svg-colour, #27303A);
        position: absolute;
        right: var(--indent__base);
        top: 15px;
      }
    }

    .ship-here {
      bottom: 15px;
      color: var(--ship-here-color, var(--blue-color));
      font-size: var(--font__m);
      position: absolute;
      right: var(--indent__base);
      text-decoration: underline;
    }
  }

  &__item-new {
    cursor: pointer;
    font-size: var(--new-address-font-size, var(--font__m));
    font-weight: var(--new-address-font-weight, var(--font-weight__regular));
    margin: var(--indent__base) 0;
    list-style: none;
  }
}

//Styles for desktop

@media screen and (min-width: $screen__m) {
  .address-list {
    &__item {
      background: var(--address-list-background, var(--primary-gray__color));
    }

    .delivery-section {
      &-title {
        margin-top: 0;
      }
    }
  }
}
