.recaptcha-container {
  &#customerLogin {
    margin-top: var(--indent__m);
  }

  div + iframe {
    display: none !important; //override !important dropin styles
  }

  z-index: 1;

  &-invisible {
    display: none;
  }
}
