@import '@/styles/global/_breakpoints';

.edit-shipping-button {
  color: var(--edit-shipping-button-color, var(--primary__color));
  line-height: var(--remove-item-action-line-height, 6px);
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.saved-shipping {
  background: var(--saved-shipping-section-background, var(--steps-completed-background));
  position: relative;
  border-bottom: var(--details-section-border, 1px solid rgba(39, 48, 58, 0.1));
  border-top: var(--details-section-border-top, none);
  min-height: var(--saved-shipping-min-height, 85px); //prevent jumping on page load

  &-link {
    color: var(--details-title-color, var(--primary__color));
    display: block;
    text-decoration: none;
    padding: var(--your-details-padding-desktop, 16px 20px);
  }

  &__icon {
    display: flex;
    gap: var(--indent__m);

    &-image {
      width: var(--shipping-address-icon-width, 24px);
      display: var(--section-title-visible, flex);

      img {
        width: 100%;
      }
    }

    p {
      font-weight: var(--font-weight__bold);
      font-family: var(--font-family-copy);
      font-size: var(--font-size-delivery-section, var(--font__heading--mobile));
      margin-left: var(--section-left-space, 20px);
      margin-bottom: var(--details-title-margin-bottom, 0);
      color: var(--text__color--heading);
    }
  }

  .shipping-method-title {
    color: var(--text__color);
    font-size: var(--short-info-size, var(--font__s));
    margin-left: var(--section-left-space, var(--indent__xl));
    margin-right: var(--indent__xl);
    font-family: var(--shipping-method-address-title__font-family, unset);

    > * {
      display: inline;
    }
  }

  .proceed-to-shipping {
    position: absolute;
    top: var(--details-edit-button-top, 50%);
    bottom: var(--shipping-edit-button-bottom, auto);
    right: var(--shipping-edit-button-right, var(--indent__base));
    transform: translateY(-50%);

    svg {
      display: var(--edit-button-icon-visibility, block);
    }

    p {
      font-family: var(--font-family-copy);
      font-size: var(--proceed-to-shipping-text-font-size, var(--font__s));
      display: var(--edit-button-title-visibility, none);
      text-decoration: underline;
    }
  }
}

@mixin largeWidth() {
  .saved-shipping {
    border-radius: var(--steps-completed-radius);
    &__icon {
      p {
        font-size: var(--font__heading--desktop);
      }
    }
  }
}

.mock-laptop,
.mock-desktop {
    @include largeWidth;
}

@media screen and (min-width: $screen__m) {
  .mock-full {
    @include largeWidth;
  }
}
